.mobile_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 5;
    background-color: white;
    /* background-color: papayawhip; */
}

.mobile_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80vh;
    list-style: none;
    /* background-color: chartreuse; */
}

.mobile_menu ul li {
    margin: 10px;
    /* background-color: aquamarine; */
}

.mobile_menu ul li a {
    text-decoration: none;
}